@tailwind base;
@tailwind components;
@tailwind utilities;

.inputBox {
  position: relative;
  width: 300spx;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2e8f0;
  background: #fff;
  border-radius: 5px;
  outline: none;
  color: #334155;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox span {
  position: absolute;
  left: 0;
  color: #e2e8f0;
  padding: 12px;
  pointer-events: none;
  font-size: 0.9em;
  transition: 0.5s;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span {
  background: #fff;
  color: #0ea5e9;
  border-radius: 2px;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #0ea5e9;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #fff;
  border-left: 1px solid #0ea5e9;
  border-right: 1px solid #0ea5e9;
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus {
  border: 1px solid #0ea5e9;
}

.explosion {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 4px;
  height: 88px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  transform-origin: 50% 100%;
  overflow: hidden;
}

.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-15px);
}
.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-15px);
}
.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-15px);
}
.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-15px);
}
.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-15px);
}
.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-15px);
}
.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-15px);
}
.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-15px);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  height: 40px;
  background-color: #0ea5e9;
  animation: explosion 2s ease-in-out infinite;
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

#firework1 {
  left: 50%;
  top: 50%;
  transform: scale(1.4);
}
#firework1 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
}
#firework2 {
  left: 40%;
  top: 45%;
  transform: scale(1);
}
#firework2 .explosion::before {
  animation: explosion 2s 0.6s ease-in-out infinite;
}
#firework3 {
  left: 60%;
  top: 65%;
  transform: scale(0.7);
}
#firework3 .explosion::before {
  animation: explosion 2s 0.4s ease-in-out infinite;
}

.produk {
  box-shadow: 2px 2px #94a3b8;
}

.addToCart {
  position: relative;
  width: 160px;
  height: 30px;
  font-size: 10px;
  background-color: #334155;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width 0.5s, border-radius 0.5s;
}

.addToCart * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.25s;
}

.icon {
  opacity: 0;
}

.addToCart:focus {
  width: 30px;
  background-color: #0ea5e9;
  border-radius: 50%;
}

.addToCart:focus .text1 {
  opacity: 0;
}

.addToCart:focus .icon {
  opacity: 1;
  transition-delay: 0.5s;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
